
.booksy-link .booksy-icon {
  width: 2rem;  /* w-8 */
  height: 2rem;
  filter: grayscale(100%) brightness(0) invert(0); /* szary, czarny */
  transition: filter 0.3s ease;
}

/* na hover zmieniamy kolor na zielony przy pomocy filtra */
.booksy-link:hover .booksy-icon {
  filter: brightness(0) saturate(100%) invert(48%) sepia(93%) saturate(749%) hue-rotate(74deg) brightness(97%) contrast(92%);
}